:root{
    --bgwhite:#fff;
    --bgblack:#000;
    --gray:#acacac;
    --Darkgray:#6d6d6d;
    --gold:#ffc107;
    --Darkgold:#d8b801;
    --white:#fff;
    --Darkblack:#333333;
    --Darkblue:#140e29d5;
}